html, body {
  margin: 0;
  height: 100%;
  animation: bground 15s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 12rem;
}
@media (max-width: 568px) {
  .logo {
    height: 6.5rem;
  }
}
@media (min-width: 600px) {
  .logo {
    height: 8rem;
  }
}
@media (min-width: 1800px) {
  .logo {
    height: 32rem;
  }
}

.light-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
  animation: text 15s linear infinite;
}
@media (max-width: 568px) {
  .light-text {
    font-size: 1rem;
  }
}
@media (min-width: 600px) {
  .light-text {
    font-size: 1.3rem;
  }
}
@media (min-width: 1800px) {
  .light-text {
    font-size: 5rem;
    margin: 3rem;
  }
}

hr.seperator {
  border: none;
  height: 0.125em;
  width: 24rem;
  background: -webkit-linear-gradient(45deg, #ff1aba 0%, #ffbc0a 100%);
  background: -moz-linear-gradient(45deg, #ff1aba 0%, #ffbc0a 100%);
  background: -o-linear-gradient(45deg, #ff1aba 0%, #ffbc0a 100%);
  background: linear-gradient(45deg, #ff1aba 0%, #ffbc0a 100%);
}
@media (max-width: 568px) {
  hr.seperator {
    width: 12rem;
  }
}
@media (min-width: 600px) {
  hr.seperator {
    width: 18rem;
  }
}
@media (min-width: 1800px) {
  hr.seperator {
    width: 64rem;
    height: 0.35rem;
  }
}

.heavy-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
  animation: text 15s linear infinite;
}
@media (max-width: 568px) {
  .heavy-text {
    font-size: 1rem;
  }
}
@media (min-width: 600px) {
  .heavy-text {
    font-size: 1.3rem;
  }
}
@media (min-width: 1800px) {
  .heavy-text {
    font-size: 5rem;
    margin: 3rem;
  }
}

.small-logo-set {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-logo {
  height: 2rem;
  padding: 1rem;
  animation: minilogo 15s linear infinite;
}
@media (max-width: 568px) {
  .small-logo {
    height: 1rem;
  }
}
@media (min-width: 600px) {
  .small-logo {
    font-size: 1.3rem;
  }
}
@media (min-width: 1800px) {
  .small-logo {
    height: 5rem;
    padding: 3rem;
  }
}

@keyframes bground {
  from {
    background-color: #ffffff;
  }
  25% {
    background-color: #ffffff;
  }
  50% {
    background-color: #121212;
  }
  75% {
    background-color: #121212;
  }
  to {
    background-color: #ffffff;
  }
}
@keyframes text {
  from {
    color: #000000;
  }
  25% {
    color: #000000;
  }
  50% {
    color: #ffffff;
  }
  75% {
    color: #ffffff;
  }
  to {
    color: #000000;
  }
}
@keyframes sephr {
  from {
    background: #000000;
  }
  25% {
    background: #000000;
  }
  50% {
    background: #ffffff;
  }
  75% {
    background: #ffffff;
  }
  to {
    background: #000000;
  }
}
@keyframes minilogo {
  from {
    filter: saturate(0%);
  }
  25% {
    filter: saturate(0%);
  }
  50% {
    filter: saturate(100%);
  }
  75% {
    filter: saturate(100%);
  }
  to {
    filter: saturate(0%);
  }
}

/*# sourceMappingURL=styles.css.map */
