@font-face {
    font-family: "CharlieZonk";
    src: url("https://msyagami.github.io/faire-web-app/fonts/Charlie_Zonk/CharlieZonk-wamP.eot"); /* IE9 Compat Modes */
    src: url("https://msyagami.github.io/faire-web-app/fonts/Charlie_Zonk/CharlieZonk-wamP.eot#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("https://msyagami.github.io/faire-web-app/fonts/Charlie_Zonk/CharlieZonk-wamP.otf") format("opentype"), /* Open Type Font */
      url("https://msyagami.github.io/faire-web-app/fonts/Charlie_Zonk/CharlieZonk-wamP.svg") format("svg"), /* Legacy iOS */
      url("https://msyagami.github.io/faire-web-app/fonts/Charlie_Zonk/CharlieZonk-wamP.ttf") format("truetype"), /* Safari, Android, iOS */
      url("https://msyagami.github.io/faire-web-app/fonts/Charlie_Zonk/CharlieZonk-wamP.woff") format("woff"), /* Modern Browsers */
      url("https://msyagami.github.io/faire-web-app/fonts/Charlie_Zonk/CharlieZonk-wamP.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

html, body {
    height: 100%;
    margin: 0;
    background-color: #f9f9f9;
}

.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.heading-text{
    font-family: "CharlieZonk";
    font-size: 144px;
}

.alpha{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: center;
}